/* start main rulez */

body{
    background-color: #F4f4f4;
}
.nice-massage{
    padding: 10px;
    margin-top: 15px;
    border-left: 5px solid rgb(228, 214, 15);
}
/* end main rulez */

.asterisk{
    font-size :30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #D20707;
}
/* start login form */

.login{
    width: 400px;
    margin:100px auto;

}
.login h4{
    color: #888;
    margin-bottom: 30px;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #f5efef;
}
.login .btn{
   background-color: #008dde;
}
/* end login form */

/* Start Bootstrap Edits */


.nav > li >a , .navbar-brand{
    padding: 10px 8px;
}
.navbar-brand{
    font-size: 16px;
}
.form-control{
    position: relative;
}

/* End Bootstrap Edits */

/* start dashboard page */


.home-stats .stat{
    padding: 20px !important;
    font-size: 15px !important;
    color: #FFF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home-stats .stat i{
    position: absolute;
    font-size: 70px;
    top: 35px;
}
.home-stats .stat .info{
    float: left;
}
.home-stats .stat a{
    color:#FFF;
}
.home-stats .stat a:hover{
    text-decoration: none;
}
.home-stats .stat span{
    display: block;
    font-size: 50px;
}

.home-stats .st-members{
    background-color: #3498db;
}

.home-stats .st-pending{
    background-color: #c0392b;
}
.home-stats .st-items{
    background-color: #d35400;
}
.home-stats .st-comments{
    background-color: #8e44ad;
}
.latest{
    margin-top: 30px;
}
.latest .toggle-info{
    color: #999;
}
.latest .toggle-info:hover{
    color: #444;
    cursor: pointer;
}
/* .st-members .fa-users{
   margin-top: 100pxpx;

} */
.latest-users{
    /* margin-buttom:0; */
    padding: 5px 0;
}

.latest-users li{
    padding: 5px 0;
    overflow: hidden;
}
.latest-users li:nth-child(odd){
    background-color: #EEE;
}
.latest-users .btn-success,.latest-users .btn-info{
    padding: 3px 8px;
}
.latest-users .btn-info{
    margin-right: 5px;
}
.panel-heading{
   box-shadow: -1px -1px 1px 1px rgb(143, 141, 141);
}

.panel-body{
    margin-top: 2px;
     background-color: #FFF;
     box-shadow:-1px  1px 10px rgb(143, 141, 141);

}

.latest .comment-box {
    margin: 5px 0 10px;
}
.latest .comment-box .member-n,.latest .comment-box .member-c{
    float: left;
}
.latest .comment-box .member-n{
    width: 80px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 2px;
    /* background-color: #fff; */
}

.latest .comment-box .member-c{
    width: calc(100% - 100px);
    background-color: rgb(214, 231, 199);
    padding: 10px;
    position: relative;
}
.latest .comment-box .member-c::before{
     content: "";
     display: block;
     position: absolute;
     left: -29px;
     top: 2px;
     width: 0;
     height: 0;
     border: solid;
     border-color:transparent rgb(134, 125, 125) transparent transparent ;
     border-width: 15px;

}
/* End dashboard page */


/* start member page */
 h2{
         
         font-size: 45px;
         margin: 15px 0;
         color: rgb(63, 61, 61);
         font-weight: bold;
   }
.show-pass {
    position: absolute;
    top :6px;
    right: -30px;
}
.main-table {
    box-shadow: 0 3px 10px #ccc ;
    
}
.main-table tr {
    background-color: #FFF;
    vertical-align: middle !important;
}
.main-table tr:first-child td {/* you can use thead */
    background-color: #333;
    color: #FFF;
    text-align: center;
}
.main-table .btn {
    padding: 3px 10px;  
}
.Activate {
    margin-left: 1px;
}
/* end member page */

/* start categories page */


